{% extends 'base.html' %} {% block content %}

<div
  class="container"
  style="
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  "
  id="login-page"
>
  <div style="width: 100%; color: black; margin-bottom: 10px">
    <div class="card-content">
      <span class="card-title center" style="font-size: 3vw">Log In</span>
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %} {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn cyan lighten-2">Log In</button>
      </form>
      <p>New to us? <a href="{% url 'signup' %}">Signup</a></p>
    </div>
  </div>
</div>

{% endblock content %}
