{% extends 'base.html' %}
{% block content %}

<h1>An easier way to discover new books</h1>
<img class="responsive-img" src="https://imgur.com/DkwOQmq.png" alt="Novel Nest intro">
<img class="responsive-img" src="https://imgur.com/hAUiV9E.png" alt="img2">
<img class="responsive-img" src="https://imgur.com/LFsYCxo.png" alt="img3">
<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://imgur.com/9ntyEgN.png"></a>
    <a class="carousel-item" href="#two!"><img src="https://imgur.com/BicIICB.png"></a>
    <a class="carousel-item" href="#three!"><img src="https://imgur.com/Q3JLMZw.png"></a>
    <a class="carousel-item" href="#four!"><img src="https://imgur.com/VBPs9MK.png"></a>
    <a class="carousel-item" href="#five!"><img src="https://imgur.com/wOXemIy.png"></a>
</div><br><br><br>

{% endblock %}
