{% extends 'base.html' %}
{% block content %}

<img class="responsive-img" src="https://imgur.com/HqoqTuI.png" alt="Novel Nest intro">
<img class="responsive-img" src="https://imgur.com/hAUiV9E.png" alt="img2">
<img class="responsive-img" src="https://imgur.com/LFsYCxo.png" alt="img3">
<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://imgur.com/9ntyEgN.png"></a>
    <a class="carousel-item" href="#two!"><img src="https://imgur.com/BicIICB.png"></a>
    <a class="carousel-item" href="#three!"><img src="https://imgur.com/Q3JLMZw.png"></a>
    <a class="carousel-item" href="#four!"><img src="https://imgur.com/VBPs9MK.png"></a>
    <a class="carousel-item" href="#five!"><img src="https://imgur.com/wOXemIy.png"></a>
</div><br><br><br>

<h1>Testimonials</h1>
<div class="row">
    <div class="col 12">
  <div class="image">
    <img
      src="https://i.imgur.com/NS2Cn9Q.jpg"
      alt="e-book"
      class="responsive-imgad  "
    />
    <div class="content">
      <h4>Anna Costanza - San Francisco, CA</h4>
      <p>
        “I can read 2,000 pages in a month, but the one thing I struggle with is
        what to read next!”
      </p>
    </div>
  </div>
  </div>
  </div>

<div class="row">
    <div class="col 12">
  <div class="image">
    <img
      src="https://i.imgur.com/NS2Cn9Q.jpg"
      alt="e-book"
      class="responsive-imgad  "
    />
    <div class="content">
      <h4>Bill Murray - Norman, OK</h4>
      <p>
        “Novel Nest has been a game changer for my reading habits.”
      </p>
    </div>
  </div>
  </div>
  </div>

<div class="row">
    <div class="col 12">
  <div class="image">
    <img
      src="https://i.imgur.com/NS2Cn9Q.jpg"
      alt="e-book"
      class="responsive-imgad  "
    />
    <div class="content">
      <h4>Sam Redding</h4><h7>- Augusta, GA</h7>
      <p>
        “I really look forward to getting my Novel Nest book recommendations each month. I loved everything they sent my way.”
      </p>
    </div>
  </div>
  </div>
  </div>

{% endblock %}


