{% extends 'base.html' %} {% block content %}

<img
  style="padding-top: 20px"
  class="responsive-img"
  src="https://imgur.com/HqoqTuI.png"
  alt="Novel Nest intro"
/>
<img class="responsive-img" src="https://imgur.com/hAUiV9E.png" alt="img2" />
<img class="responsive-img" src="https://imgur.com/LFsYCxo.png" alt="img3" />
<div class="carousel">
  <a class="carousel-item" href="#one!"
    ><img src="https://imgur.com/9ntyEgN.png"
  /></a>
  <a class="carousel-item" href="#two!"
    ><img src="https://imgur.com/BicIICB.png"
  /></a>
  <a class="carousel-item" href="#three!"
    ><img src="https://imgur.com/Q3JLMZw.png"
  /></a>
  <a class="carousel-item" href="#four!"
    ><img src="https://imgur.com/VBPs9MK.png"
  /></a>
  <a class="carousel-item" href="#five!"
    ><img src="https://imgur.com/wOXemIy.png"
  /></a>
</div>
<br /><br /><br />

<h1>Testimonials</h1>
<div class="row">
    <div class="col 12">
  <div class="image">
    <img
      src="https://imgur.com/iGaQ3Dg.png"
      alt="e-book"
      class="responsive-imgad  "
    />
    <div class="content">
      <h5>“I can read 2,000 pages in a month, but the one thing I struggle with is what to read next.”</h5>
      <p>Joyce Spencer - North Hempstead, NY</p>
    </div>
  </div>
  </div>
</div>

<div class="row">
    <div class="col 12">
  <div class="image">
    <img
      src="https://imgur.com/tjtByWP.png"
      alt="e-book"
      class="responsive-imgad  "
    />
    <div class="content">
      <h5>“Novel Nest has been a game changer for my reading habits.”</h5>
      <p>Homer Peters - Norman, OK</p>
    </div>
  </div>
  </div>
</div>

<div class="row">
    <div class="col 12">
  <div class="image">
    <img
      src="https://imgur.com/XJpyFaS.png"
      alt="e-book"
      class="responsive-imgad  "
    />
    <div class="content">
      <h5>“I really look forward to getting my Novel Nest book recommendations each month. I loved everything they sent my way.”</h5>
      <p>Zahra Maldonado - Augusta, GA</p>
    </div>
  </div>
  </div>
</div>

{% endblock %}
