body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: Arial, sans-serif;
  justify-content: center;
  background-color: snow;
  background-image: radial-gradient(snow, powderblue);
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.page-footer {
  color: black;
}

.nav-wrapper ul li a {
  color: black;
}

.logo-img{
  float: left;
  width: 100%;
}

.card {
  box-shadow: 4px 4px 4px 4px slategrey;
  text-align: center;
  padding: 16px;
  border-radius: 2vmin;
  background-color: lemonchiffon;
  color: black;
  transition: all 0.3s ease;
}

#credit_card {
  width: 40vw;
}

.card:hover {
  box-shadow: 1.5vmin 1.5vmin 1.5vmin 1.5vmin slategrey;
  border-radius: 2vmin;
}

.button {
  background-color: rgb(197, 234, 240);
}

.button:hover {
  color: black;
  background-color: white;
}

.btn {
  color: black;
  background-color: rgb(103, 227, 254);
}

.btn:hover {
  color: black;
  background-color: rgb(249, 249, 249);
}

.image {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.image img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.image .content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
